.keywords-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.keywords-container h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #333;
}

.keywords-list {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  gap: 10px; /* Space between items */
}

.keyword-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.keyword-item span {
  margin-right: 5px; /* Space between text and button */
}

.keyword-item button {
  padding: 2px 5px;
  border: none;
  background-color: #ff4757;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em; /* Smaller button */
  transition: background-color 0.3s ease-in-out;
}

.keyword-item button:hover {
  background-color: #e0404f;
}

.search-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff4757;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #e0404f;
}
