body {
    background-color: #e4e2e2;
}

.search-keywords-container {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 20px auto;
}

.keywords-container {
  margin-left: -100px;
}