.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pagination-container button {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    background-color: #ff0000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-container span {
    font-size: 1.2rem;
  }
  