.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.result-item {
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.8);
}

.result-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.result-content p {
  margin: 0;
  font-size: 1.2rem;
}

.button-group {
  display: flex;
  gap: 10px; /* Espaço entre botões */
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}

.link-button:hover {
  background-color: #0056b3;
}

.pdf-button {
  background-color: #d9534f; /* Vermelho */
  border-color: #d9534f;
}

.pdf-button:hover {
  background-color: #c9302c;
}

.pdf-button:disabled {
  background-color: #c0c0c0; /* Cinza para indicar desativado */
  border-color: #c0c0c0;
  cursor: not-allowed;
}

.drive-button {
  background-color: #4285f4; /* Azul Google Drive */
  border-color: #4285f4;
}

.drive-button:hover {
  background-color: #3367d6;
}

.drive-button:disabled {
  background-color: #c0c0c0; /* Cinza para botões desabilitados */
  border-color: #c0c0c0;
  cursor: not-allowed; /* Cursor indicando que não pode ser clicado */
}

.icon-space {
  margin-right: 4px; /* Adiciona espaço à direita do ícone */
}

/* Adicione esta seção ao seu arquivo SearchResults.css */

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: none;
  background-color: #007BFF; /* Azul principal */
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  text-align: center;
  margin-bottom: 10px; /* Espaçamento inferior para separação visual */
}

.dropdown-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Efeito de elevação */
}

.result-title {
  font-size: 1.5rem; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  color: #333; /* Cor do texto */
  margin-bottom: 1rem; /* Espaçamento abaixo */
  padding: 0.5rem; /* Espaçamento interno */
  border-bottom: 2px solid #ccc; /* Linha inferior para destaque */
  text-transform: uppercase; /* Transformar texto para maiúsculas */
}
